%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path} Home
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %form.navbar-form.navbar-left{method: 'get', action: "#{request.path}", class: 'search-form form-horizontal', role: "search"}
        .form-group
          = text_field_tag :query, params[:query], placeholder: "Search", class: 'form-control'